:root {
    --PrimaryFont: "Intel One Mono", monospace;
    --SecondoryFont:"Bebas Neue", sans-serif; 

    --PrimaryFontSize: 20px;
    --SecondoryFontSize: 18px;
    --HighlightFontSize: 24px;

    --PrimaryFontColor: #ffffff;

    --PrimaryBoxShadow:
        0 4px 8px rgba(0, 0, 0, 0.3), 
        0 6px 20px rgba(0, 0, 0, 0.2),
        0 0 2px rgba(212, 179, 255, 0.5),
        0 0 8px rgba(160, 103, 234, 0.3);
    --SecondoryBoxShadow:
        0 8px 16px rgba(0, 0, 0, 0.4),
        0 12px 30px rgba(0, 0, 0, 0.3),
        0 0 10px rgba(212, 179, 255, 0.7),
        0 0 20px rgba(160, 103, 234, 0.5);      

    --HighlightBoxShadow: 
        0 0 1px #ffffff,  
        0 0 4px #ffffffad,         
        0 0 8px #a067ea52,          
        0 0 16px #D4B3FF;
    --PrimaryTextShadow:    
        0 0 1px #fff,
        0 0 2px #D4B3FF,
        0 0 3px #D4B3FF,
        0 0 4px #D4B3FF;

    --SecondoryTextShadow:    
        0 0 1px #ffffff79,
        0 0 2px #d4b3ff8a,
        0 0 3px #d4b3ff57,
        0 0 4px #d4b3ff33;

    --PrimaryBackground: radial-gradient(at 20% 30%, rgba(160,103,234, 0.2) 0%, transparent 40%),
        radial-gradient(at 80% 70%, rgba(255, 92, 168, 0.2) 0%, transparent 40%),
        linear-gradient(to bottom, #1a1a2e, #16213e);
    --PrimaryBoxBackground: #ffffff07;
    --SecondoryBoxBackground: rgba(255, 255, 255, 0.082);

    --PrimaryAnimation: translateY(1px);
}
