.button-task{
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    color: var(--TextSecondoryColor);
}

#button-task-add{
    background: var(--HighlightColor);
    color: var(--TextColor);
    border-radius: 15px;
    height: 35px;
    width: 80px;
    margin: 0 0.3em 0.5em 0 ;
    transition: all 0.2s ease;
    box-shadow: 0 0.5px 1px #272727;
}

#button-task-add:hover{
    box-shadow: 0 0.5px 3px #272727;
}

.delete-btn{
    width: 40px;
    min-height: 50px;
    height: 100%;
    position: absolute;
    background: var(--PrimaryColor);
    right: 0;
    border: 1px solid var(--PrimaryColor);
    cursor: pointer;
    border-radius: 0 15px 15px 0;
}

.btn-edit{
    width: 40px;
    min-height: 50px;
    margin-right: 40px;
    height: 100%;
    position: absolute;
    background: var(--HighlightColor);
    right: 0;
    border: 1px solid var(--HighlightColor);
    cursor: pointer;
    border-radius: 15px 0 0 15px;
}

.btn-complete{
    width: 40px;
    min-height: 50px;
    margin-right: 40px;
    height: 100%;
    position: absolute;
    background: var(--HighlightColor);
    left: 0;
    border: 1px solid var(--HighlightColor);
    cursor: pointer;
    border-radius: 15px 0 0 15px;
}